*{
    box-sizing: border-box;
}

.icons img{
    height: 30px;
    width: 30px;
}

header{
    display: flex;
    justify-content: space-around;
}

.title,.search{
    display: flex;
}

nav ul,ul{
    display: flex;
    list-style: none;
}

input{
    height: 30px;
}
