.productList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,30%));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.productList li{
    display: flex;
    flex-direction: column;
    padding: 0px 100px 0px 100px;
}

li div{
    display: flex;
    justify-content: space-between;
}

input[type="number"]{
    width: 100px;
}

picture{
    align-self: center;
}

picture img{
    height: 250px;
    width: 200px;
}

.cartUpdate img{
    cursor: pointer;
    width: 25px;
    height: auto;
}